@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700;800&display=swap');

.App {
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: cyan;
}

h1 {
  color: aquamarine;
}

.nav {
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
}
